<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sabjimandi">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/sabji"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ShopInnerDetails.BookingPayment"></activity>
        <activity android:name=".MainDashboard.Cart" />
        <activity android:name=".ShopInnerDetails.ShopInnerDetails" />
        <activity android:name=".Account.SelectDeliveryLocation" />
        <activity android:name=".Account.EditAddress" />
        <activity android:name=".Account.UserAddress" />
        <activity android:name=".Account.LoginProcess" />
        <activity android:name=".Account.NewUserDetails" />
        <activity android:name=".AccountDetails" />
        <activity android:name=".Account.VerifyPin" />
        <activity
            android:name=".MainDashboard.MainDashboard"
            android:label="@string/title_activity_main_dashboard" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>